<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../theme/style.css">
    <link rel="stylesheet" href="style.css">
    <title>Blog</title>
</head>
<body>
    <div class="header">
        <div class="nav">
          <div class="title">
             [Name]
          </div>
          <div class="links">
             <a href="#"><li> projects </li></a>
             <a href="content/posts/post0.html"><li> blog </li></a>
          </div>
        </div>
        <div class='pdf'>
         <h4>Blog</h4> 
        </div>
        <div class="blog-post">
         
        </div>
    </div>
    <div class="blog-con">
    [`CONTENT`]  
    </div>
    <div class="footer">
        <div class="prev" style="[`prevD`]">  <a href="[`prevL`]"> &#8592; previous </a> </div>
        <div class="next" style="[`nextD`]">  <a href="[`nextL`]"> next &#8594; </a> </div>
    </div>
</body>
</html>
  
  